/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --font-size: 0.875rem;
  --box-shadow:
    0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
  font-family: "Octave";
  src: url("/fonts/FAIRE-Octave-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Octave";
  src: url("/fonts/FAIRE-Octave-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Octave";
  src: url(/fonts/FAIRE-Octave-RegularItalic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Diatype";
  src: url(/fonts/ABCDiatypeVariableEdu-Regular.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Octave", serif;
  font-size: var(--font-size);
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}

strong,
b {
  font-weight: 700;
}

a {
  color: inherit;
}

.page-link {
  font-family: "Octave", serif;
  font-style: italic;
}

.external-link {
  font-family: "Diatype", sans-serif;
  font-weight: 400;
}

.external-link::after {
  content: "↗";
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}

.ampersand {
  font-family: "adobe-aldine", serif;
  font-style: italic;
  font-size: calc(1.05 * var(--font-size));
}

ul {
  margin-top: 4px;
  padding-inline-start: 14px;
  list-style-type: "~";
}

li {
  padding-left: 8px;
}

@media (max-width: 720px) {
  main {
    padding: 1em;
  }
}
