---
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("weekly")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<ul>
  {
    posts.map((post) => (
      <li>
        <a href={`/weekly/${post.id}/`}>
          <h4 class="title">{post.data.date}</h4>
          <p>
            <FormattedDate date={post.data.date} />
          </p>
        </a>
      </li>
    ))
  }
</ul>
